@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monoton&display=swap');

body{
    background-color: #111111;
    background-image: url(bg.jpg);
}
div{
    margin-top: 90px;
    padding: 40px;
    font-family: "Monoton";
    font-size: 95px;
    text-align: center;
    text-transform: uppercase;
}
#error{
    text-shadow: 0 0 50px whitesmoke, 0 0 30px darkgreen;
    color: white;
}
#code{
    text-shadow: 0 0 80px whitesmoke, 0 0 30px firebrick, 0 0 6px darkred;
    color: red;
}
div p{
    margin: 5px;
}
#error:hover
{
    text-shadow: 0 0 200px #FFFFFF, 0 0 80px #2E8B57, 0 0 6px #191970;
}
#error span{
    animation: upper 10s linear infinite;
}
#code span:nth-of-type(2){
    animation: lower 10s linear infinite;
}
#code span:nth-of-type(1){
    text-shadow: none;
    opacity: .4;
}
@keyframes upper{
    100%, 38%, 50%, 0%, 21%, 35%, 48%, 70%, 85%, 21%, 0%
    {
        opacity: .99;
        text-shadow: 0 0 80px whitesmoke, 0 0 30px SeaGreen, 0 0 6px #191970;
    }
    20%, 22%, 63%, 64%, 65%, 70% 
    {
        opacity: .4;
        text-shadow: none;
    }
}

@keyframes lower{
    100%, 10%, 20%, 25%, 46%, 90%, 51%, 100%
    {
        opacity: .99;
        text-shadow: 0 0 80px red, 0 0 30px firebrick,
        0 0 6px darkred;
    }
    19%, 22%, 32%, 36%, 50%, 55%, 64%, 65%,
    86%, 90%{
        opacity: 0.4;
        text-shadow: none;
    }
}

